/*global styles*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --top_header_color: #FF0909;
    --bottom_header_color: #F0E5E5;
    --background_color: #EDF6F6;
}

p,
label,
input,
select {
    margin-bottom: 10px;
}

input,
select {
    height: 28px;
    color: black;
    padding: 2px;
    background-color: #fff;
}


p::first-letter,
label::first-letter {
    text-transform: uppercase;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style-type: none;
}


h2 {
    font-family: "oswald";
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

h1,
h2,
h3,
a {
    text-transform: capitalize;
}

body {
    height: 100vh;
}

p {
    font-family: "source san pro";
    font-size: 20px;
    color: black;
}

nav a {
    background-color: transparent;
    padding: 6px 6px;
}

nav {
    display: none;
}

nav li {
    padding: 11px 15px;
}

.cta_button {
    background-color: var(--top_header_color);
    color: #fff;
    border-radius: 10px;
    border-color: #fff;
    padding: 2px 15px 2px 15px;
    font-family: oswald;
    font-size: 20px;
    font-weight: bold;
}

.top_header {
    height: 68px;
    background-color: var(--top_header_color);
    display: flex;
}

.top_header a {
    color: #fff;
    font-family: oswald;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    align-self: center;
}

.bottom_header_tickets {
    color: var(--top_header_color);
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
    border-color: var(--top_header_color);
    border-style: solid;
}

.Bottom_header {
    height: 65px;
    background-color: var(--bottom_header_color);
    font-family: oswald;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tickets {
    border-style: solid;
    border-color: #fff;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
    position: absolute;
    right: 200px;
    display: none;
}

.bottom_header_tickets {
    margin-left: 25px;
}

#hamburger-menu:checked~nav {
    display: block;
    background-color: var(--bottom_header_color);
    position: absolute;
    padding: 20px;
    top: 130px;
    right: 0px;
    z-index: 1000;
}

/*checkbox*/
#hamburger-menu {
    display: none;
}

.hamburgerbars {
    right: 30px;
    position: absolute;
}

#site-search {
    height: 25px;
    width: 100px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    padding: 10px;
    top: -4px;
    position: relative;
}

/* Home page*/
.main_container_homepage {
    margin-bottom: 80px;
}

.home_grid_container {
    /*grid-template-columns: repeat(2, 1fr);*/
    gap: 1.5rem;
    padding: 10px;
    margin: auto;
    width: 90vw;
    display: grid;
}

.home_grid_item img {
    text-align: center;
}

.home_grid_item:nth-child(2),
.home_grid_item:nth-child(3),
.home_grid_item:nth-child(4),
.home_grid_item:nth-child(5),
.home_grid_item:nth-child(6) {
    padding: 30px 30px
}

.paragraph_margin_bottom_before_cta {
    margin-bottom: 30px;
}

.home_grid_item {
    background-color: #EDF6F6;
}

.exhibition_hall {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Child_reading,
.teacher_greating,
.looking_in_a_microscope,
.holding_a_plant,
.night_at_the_museum {
    margin-bottom: 15px;
    width: 100%;
    max-height: 300px;
    min-height: 127px;
    object-fit: cover;
}

.background_image {
    background-image: url(Image/learn-2405206_1920.jpg);
    height: 350px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_homepage {
    font-size: 30px;
    margin: 40px auto 35px auto;
    font-family: oswald;
    border-radius: 30px;
    color: #fff;
    width: 336px;
    background-color: var(--top_header_color);
    text-align: center;
}

/*footer*/

.Footer_top_bar_header {
    color: #fff;
    margin-left: 55px;
    padding-top: 15px;
    border: solid;
    border-color: transparent;
}

.footer_top_bar {
    background-color: var(--top_header_color);
    height: 64px;
    color: #fff;
    display: inline-flex;
    width: 100%;
}

footer {
    background-color: var(--bottom_header_color);
    height: 832px;
    margin-top: 30px;
}

.footer_section_three,
.footer_section_two,
.footer_section_one {
    margin-bottom: 30px;
    justify-content: space-between;
}

.footer_content {
    display: grid;
    grid-auto-flow: column;
    margin: 20px 25px 0px 25px;
    display: block;
}

.footer_content h3 {
    margin-bottom: 20px;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-youtube-square,
.fa-linkedin {
    padding-right: 15px;
    margin-bottom: 40px;
    font-size: 45px;
}

.sponsors {
    display: flex;
    flex-direction: column;
}

.sponsors {
    background-color: transparent;
    padding: 6px 4px;
}

.sponsors p {
    margin-bottom: 2px;
}

/*visit page*/

.visit_grid_containder {
    display: grid;
    margin: auto;
    width: 90vw;
    gap: 1.5rem;
}

.visit_sections {
    background-color: var(--background_color);
    grid-auto-flow: column;
    padding: 30px;
    text-align: center;
}

.visit_sections p {
    margin-bottom: 30px;
}

.opening_hours p {
    margin-bottom: 10px;
}

/*newsletter*/

.newsletter_container {
    display: grid;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.newsletter_section_2 {
    margin: 50px 20px
}

.form {
    background-color: var(--background_color);
    padding: 30px;
    border-radius: 10px;
}

.form .cta_button {
    margin: 20px;
    padding: 6px 6px;
    border-color: transparent;
    width: 145px;
    border: solid;
}


.newsletter_container p,
li,
h2,
label {
    font-size: 18px;
    font-weight: 400;
}

.newsletter_container h1 {
    margin-bottom: 25px;
    font-size: 25px;
}

.cartoon_scientist_binoculars {
    height: 200px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 320px;
}

.newsletter_section_3 span {
    color: #FF0909;
    padding: 5px;
    text-decoration: underline;
    font-size: larger;
}

/*support page*/

.support_section,
.support_section_1_and_2 {
    background-color: var(--background_color);
    width: 90%;
    margin: 50px auto 30px auto;
}


.header_support {
    margin: 30px 20%;
}

.support_section_padding,
.support_section_1_and_2 {
    padding: 40px 40px;
}


.museum_building_img_small_screen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Support_button_padding {
    margin-bottom: 25px;
}


/*about page*/

.about_grid_container {
    gap: 1.5rem;
    padding: 10px;
    margin: auto;
    width: 90vw;
    display: grid;
}

.header_aboutpage {
    margin: 30px 10%;
}

.about_copy {
    background-color: var(--background_color);
    padding: 30px 30px;
}

.about_images {
    width: 100%;
}



.paragraph_over_button {
    margin-bottom: 40px;
}

/*exhibitions page*/

.header_exhibition_page {
    margin: 45px 10%
}

.exhibitions_grid_container {
    gap: 1.5rem;
    margin: auto;
    width: 90vw;
    display: grid;
    margin-bottom: 80px;
}

.exhibitions_grid_item {
    background-color: var(--background_color);
    padding: 30px;
}

.exhibitions_last_article {
    display: none;
}

@media only screen and (min-width: 800px) {

    .home_grid_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .bottom_header_tickets {
        display: none;
    }

    .tickets {
        display: inline-flex;
    }

    .tickets:hover {
        background-color: #fff;
        color: var(--top_header_color);
    }

    nav a:hover {
        background-color: #fff;
    }

    nav {
        position: relative;
        margin: auto;
    }

    nav,
    nav li {
        display: inline-flex;
    }

    .active {
        text-decoration: underline;
    }

    .hamburgerbars {
        display: none;
    }

    #hamburger-menu:checked~nav {
        background-color: transparent;
        top: 48px;
    }

    .cta_button:hover {
        background-color: #fff;
        color: var(--top_header_color);
        border-color: var(--top_header_color);
        border: solid;
    }

    /*Home_index*/
    .header_homepage {
        font-size: 27px;
        width: fit-content;
        padding: 5px 15px;
    }

    .holding_a_plant {
        width: min(380px, 550px);
    }

    .background_image {
        background-image: url(image/learn-2405206_1920.jpg);
        height: 450px;
        background-size: cover;
        background-position-y: 80%;
    }

    .home_grid_item:nth-child(1) {
        grid-column: 1/3;
    }

    .home_grid_item:nth-child(2) {
        grid-column: 3;
    }

    .home_grid_item:nth-child(3) {
        grid-row: 2 / 4;
    }

    .home_grid_item:nth-child(4) {
        grid-column: 2;
    }

    .home_grid_item:nth-child(6) {
        grid-column: 2 / 4;
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
    }

    .home_grid_item:nth-child(6) p {
        max-width: 300px;
    }

    .teacher_greating {
        background-position-x: 10px;
    }

    footer {
        height: 385px;
    }

    .footer_content {
        display: grid;
        grid-auto-flow: column;
    }

    .sponsors:hover {
        background-color: #fff;
        padding: 6px 4px;
        width: fit-content;
    }

    /*visit page*/

    .visit_grid_containder {
        grid-template-columns: repeat(2, 1fr);
        width: 80vw;
    }

    .visit_sections {
        width: 33.3% vw;
        height: 440px;
    }

    .visit_low_height {
        height: 330px;
    }

    /*newsletter page*/

    .newsletter_container {
        grid-template-columns: repeat(3, 1fr);
        height: 100vh;
        max-width: 900px;
    }

    .cartoon_scientist_binoculars {
        margin-top: 120px;
    }

    /*about page*/
    .header_aboutpage {
        margin: 45px 10%
    }

    .about_grid_container {
        width: 85vw;
    }

    /*support page*/

    .support_section,
    .support_section_1_and_2 {
        max-width: 700px;
        width: 70%;
    }

    .museum_building_img_small_screen {
        max-height: 500px;
    }

    /*exhibitions*/
    .exhibitions_grid_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .exchibition_grid_last_child {
        display: none;
    }

    .exhibitions_last_article {
        display: grid;
        width: 90vw;
        background-color: var(--background_color);
        padding: 30px;
        margin: 1.5rem auto 100px auto;
    }

    @media (min-width: 1200px) {

        /*home_index*/

        .home_grid_item:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 2;
        }

        .home_grid_item:nth-child(2) {
            grid-column: 2 / 4;
            padding: 30px 65px;
        }

        .home_grid_item:nth-child(2),
        .home_grid_item:nth-child(3),
        .home_grid_item:nth-child(4),
        .home_grid_item:nth-child(5) {
            padding: 30px 40px;
        }

        .home_grid_item:nth-child(6) {
            grid-column: 2 / 4;
            flex-direction: column;
        }

        .holding_a_plant {
            width: min(380px, 380px);
            margin-right: 44px;
        }

        .home_grid_item:nth-child(6) {
            display: flex;
            flex-direction: row;
        }

        /*visit page*/
        .visit_sections p {
            max-width: 480px;
            margin: auto;
            margin-bottom: 30px;
        }

        .opening_hours p {
            margin-bottom: 15px;
        }

        .visit_grid_containder {
            grid-template-columns: repeat(3, 1fr);
            width: 1100px;
        }

        .visit_sections {
            width: 33.3% vw;
            height: 460px;
            column-gap: 15px;
            row-gap: 15px;
        }

        .low_height_over_1200 {
            height: 350px;
        }

        .newsletter_container {
            max-width: 1000px;
            height: 85vh;
        }

        .about_grid_container {
            grid-template-columns: repeat(1, 1fr 1fr);
        }

        .about_images {
            height: 100%;
            object-fit: cover;
        }

        /*support page*/
        .support_section {
            display: flex;
            flex-direction: row-reverse;
            max-width: 1600px;
        }

        .Upper_section_support {
            width: 100%;
        }

        .support_section_1_and_2 {
            max-width: 900px;
            padding: 40px 100px;
        }

        /*exhibition page*/

        .exhibitions_last_article {
            display: none;
        }

        .exchibition_grid_last_child {
            display: inline;
        }

        .exhibitions_grid_container {
            grid-template-columns: repeat(4, 1fr);
            max-width: 80vw;
        }

        .grid-col-span {
            grid-column: span 2;
        }

        .exhibition_midle_full_width_midle {
            grid-column: span 2;
        }



    }
}